How to rename columns in Pandas DataFrame

In [1]:
#Method 1: Using rename() function
import pandas as pd

rankings = {'test': ['India', 'South Africa', 'England',
							'New Zealand', 'Australia'],
			'odi': ['England', 'India', 'New Zealand',
							'South Africa', 'Pakistan'],
			't20': ['Pakistan', 'India', 'Australia',
							'England', 'New Zealand']}

rankings_pd = pd.DataFrame(rankings)
print(rankings_pd)
rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)
print("\nAfter modifying first column:\n", rankings_pd.columns)

           test           odi          t20
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand

After modifying first column:
 Index(['TEST', 'odi', 't20'], dtype='object')

In [2]:
#Example 2: Rename multiple columns. 
import pandas as pd

rankings = {'test': ['India', 'South Africa', 'England',
							'New Zealand', 'Australia'],
			'odi': ['England', 'India', 'New Zealand',
							'South Africa', 'Pakistan'],
			't20': ['Pakistan', 'India', 'Australia',
							'England', 'New Zealand']}

rankings_pd = pd.DataFrame(rankings)
print(rankings_pd)
rankings_pd.rename(columns = {'test':'TEST','odi':'ODI','t20':'T20'}, inplace = True)
print("\nAfter modifying first column:\n", rankings_pd.columns)

           test           odi          t20
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand

After modifying first column:
 Index(['TEST', 'ODI', 'T20'], dtype='object')

In [3]:
#Method 2: By assigning a list of new column names 

import pandas as pd
rankings = {'test': ['India', 'South Africa', 'England',
							'New Zealand', 'Australia'],
			'odi': ['England', 'India', 'New Zealand',
							'South Africa', 'Pakistan'],
			't20': ['Pakistan', 'India', 'Australia',
							'England', 'New Zealand']}

rankings_pd = pd.DataFrame(rankings)
print(rankings_pd.columns)
rankings_pd.columns = ['TEST', 'ODI', 'T-20']
print(rankings_pd.columns)

Index(['test', 'odi', 't20'], dtype='object')
Index(['TEST', 'ODI', 'T-20'], dtype='object')

In [4]:
#Method 3: Rename column names using DataFrame set_axis() function
import pandas as pd

rankings = {'test': ['India', 'South Africa', 'England',
					'New Zealand', 'Australia'],
			'odi': ['England', 'India', 'New Zealand',
					'South Africa', 'Pakistan'],
			't20': ['Pakistan', 'India', 'Australia',
					'England', 'New Zealand']}

rankings_pd = pd.DataFrame(rankings)
print(rankings_pd.columns)
rankings_pd.set_axis(['A', 'B', 'C'], axis='columns', inplace=True)
print(rankings_pd.columns)
rankings_pd.head()

Index(['test', 'odi', 't20'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')

              A             B            C
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand

In [5]:
#Method 4: Rename column names using DataFrame add_prefix() and add_suffix() functions

import pandas as pd
rankings = {'test': ['India', 'South Africa', 'England',
					'New Zealand', 'Australia'],
			'odi': ['England', 'India', 'New Zealand',
					'South Africa', 'Pakistan'],
			't20': ['Pakistan', 'India', 'Australia',
					'England', 'New Zealand']}

rankings_pd = pd.DataFrame(rankings)
print(rankings_pd.columns)
rankings_pd = rankings_pd.add_prefix('col_')
rankings_pd = rankings_pd.add_suffix('_1')
rankings_pd.head()

Index(['test', 'odi', 't20'], dtype='object')

     col_test_1     col_odi_1    col_t20_1
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand

In [6]:
#Method 5: Replace specific texts of column names using Dataframe.columns.str.replace function

import pandas as pd
rankings = {'test': ['India', 'South Africa', 'England',
					'New Zealand', 'Australia'],
			'odi': ['England', 'India', 'New Zealand',
					'South Africa', 'Pakistan'],
			't20': ['Pakistan', 'India', 'Australia',
					'England', 'New Zealand']}

rankings_pd = pd.DataFrame(rankings)
print(rankings_pd.columns)
rankings_pd.columns = rankings_pd.columns.str.replace('test', 'Col_TEST')
rankings_pd.columns = rankings_pd.columns.str.replace('odi', 'Col_ODI')
rankings_pd.columns = rankings_pd.columns.str.replace('t20', 'Col_T20')
rankings_pd.head()

Index(['test', 'odi', 't20'], dtype='object')

       Col_TEST       Col_ODI      Col_T20
0         India       England     Pakistan
1  South Africa         India        India
2       England   New Zealand    Australia
3   New Zealand  South Africa      England
4     Australia      Pakistan  New Zealand