In [2]:
import pandas as pd
data=pd.read_csv('nba.csv')
data_top=data.head()
data_top

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [3]:
#Method 1: Simply iterating over columns 
import pandas as pd
data=pd.read_csv('nba.csv')
for col in data.columns:
    print(col)

Name
Team
Number
Position
Age
Height
Weight
College
Salary

In [5]:
# Method 2: Using columns attribute with dataframe object 
list(data.columns)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

In [6]:
#Method 3: Using keys() function: It will also give the columns of the dataframe.
data.keys()

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
#Method 4:  column.values method returns an array of index. 
data.columns.values

array(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'], dtype=object)

In [14]:
# Method 5: Using tolist() method with values with given the list of columns. 
list(data.columns.values.tolist())

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

In [16]:
# Method 6: Using sorted() method : sorted() method will return the list of columns sorted in alphabetical order. 
sorted(data)

['Age',
 'College',
 'Height',
 'Name',
 'Number',
 'Position',
 'Salary',
 'Team',
 'Weight']